.update {
  display: flex;
  height: auto;
  margin-bottom: 10vh;
}
.updateContainer {
  flex: 5;
  margin-top: 15vh;
}
.updatetContainerTitle {
  display: flex;
  justify-content: space-between;
}
.updatetContainerTitle h1 {
  font-weight: 700;
  font-size: 26px;
  margin-left: 5%;
}
.updatetContainerTitle button {
  margin-top: 20px;
  padding: 2px 60px;
  outline: none;
  border: none;
  font-weight: 600;
  color: black;
  background-color: lightgreen;
  border-radius: 9px;
}
.updatetContainerTitle button:hover {
  background-color: rgb(85, 241, 85);
}

/* leftside */
.leftsideMainContainer {
  margin-top: 5vh;
}
.productForm {
  margin-left: 2%;
}
.productForm input {
  width: 80%;
  margin-top: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}
::placeholder {
  padding-left: 10px;
}

.productForm label {
  font-weight: 600;
  color: gray;
  margin-top: 10px;
}
.productForm select {
  width: 80%;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.rightSideContainer {
  height: 100vh;
}

.productImg img {
  height: 50%;
  width: 50%;
  border-radius: 20%;
}
.productImg button {
  margin-top: 20px;
  padding: 2px 60px;
  outline: none;
  border: none;
  font-weight: 600;
  color: white;
  background-color: darkblue;
  border-radius: 9px;
}
.productForm textarea {
  width: 80%;
  height: 10vh;
  border-radius: 5px;
  outline: none;
}
