.registerPage {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 4vh;
}
.registerTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  font-size: 35px;
  margin-top: 10px;
}
.registerFrom {
  height: 75vh;
  width: 25%;
  -webkit-box-shadow: -1px 2px 6px 2px rgba(0, 0, 0, 0.48);
  box-shadow: -1px 2px 6px 2px rgba(0, 0, 0, 0.48);
}
.LoginFormContainer h4 {
  margin-left: 8%;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 600;
}
.inputBox label {
  margin-top: 10px;
  margin-left: 8%;
  font-weight: 600;
  font-size: 13px;
}
.inputBox input {
  margin-left: 8%;
  width: 80%;
  height: 35px;
  outline: none;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  border: 1px solid gray;
}
.inputBox button {
  margin-left: 8%;
  margin-top: 20px;
  width: 80%;
  padding: 3px 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 4px;
}
.registerFrom p {
  margin: 10px 0px 0px 8%;
}
.link {
  margin-left: 5px;
  color: red;
}
.link:hover {
  text-decoration: underline;
}
.terms{
  margin: 15px 0px 0px 8%;
 font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .registerFrom {
    width: 80%;
  }
}
