.allproduct {
  display: flex;
}
.allContainer {
  flex: 5;
  margin-top: 15vh;
  box-shadow: -4px 5px 39px -12px rgba(83, 83, 83, 0.66);
  margin-left: 5%;
  margin-right: 5%;
}
.allContainerWrapper {
  display: flex;
  justify-content: space-between;
}

.createBtn button {
  margin-top: 20px;
  padding: 4px 30px;
  outline: none;
  border: none;
  font-weight: 600;
  color: black;
  background-color: lightgreen;
  border-radius: 9px;
  margin-bottom: 20px;
}

.createBtn button:hover {
  background-color: rgb(85, 241, 85);
}

.ProductTitle {
  font-weight: 600;
  /* font-size: 25px; */
  color: gray;
  margin-left: 3%;
  margin-top: 15px;
}
.button_delete {
  border: 1px solid red;
  outline: none;
  color: red;
  border-radius: 6px;
  padding: 3px 6px;
  font-size: 15px;
}
.button_delete:hover {
  background-color: red;
  color: white;
}
.button_update {
  border: 1px solid lightseagreen;
  outline: none;
  color: lightgreen;
  border-radius: 6px;
  padding: 3px 6px;
  font-size: 15px;
  margin-left: 20px;
  font-size: 15px;
}
.button_update:hover {
  background-color: lightgreen;
  color: white;
}
.userImg img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
