.latestUser {
  height: 55vh;
  width: 90%;
  margin-top: 5vh;
  box-shadow: -4px 5px 39px -12px rgba(83, 83, 83, 0.66);
  border-radius: 10px;
  /* background-color: aqua; */
}
.latestUser h4 {
  color: gray;
  font-size: 20px;
  margin-bottom: 10px;
}


.statusapproved {
  color: rgb(22, 179, 22);
  background-color: rgb(142, 248, 160);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
.statuspending {
  color: goldenrod;
  background-color: rgb(247, 247, 128);
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;

}
