.errorpage {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.1)),
    url("../../../public/img/error.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerError h1 {
  font-size: 90px;
  letter-spacing: 3px;
  color: white;
}
.containerError h3 {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 600;
  color: white;
}
.containerError {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.error-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 100%;
  padding: 5px 17px;
  margin-top: 20px;
}
.containerError h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}
@media only screen and (max-width: 768px) {
  
  .containerError h1 {
    font-size: 40px;
    color: white;
  }
  .containerError h3 {
    font-size: 20px;
  }
  .containerError h2 {
    font-size: 24px;
  }
  .error-btn {
    font-size: 17px;
    width: 100%;
    padding: 2px 20px;
    margin-top: 20px;
  }
}
