.loginPage {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0.9)),
    url("../../../public/img//login.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.loginPage .wrapper {
  background-color: white;
  height: 48vh;
  width: 35%;
  border-radius: 5px;
}
.loginFrom {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.loginFrom h2 {
  margin: 10px;
  color: gray;
}
.loginFromInput {
  display: flex;
  flex-direction: column;
}

.loginFromInput input {
  height: 40px;
  width: 90%;
  margin-top: 25px;
  margin-left: 20px;
  outline: none;
  border: none;
  border: 1px solid gray;
  padding: 4px 3px;
  border-radius: 4px;
}
.loginBtn button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px 28px;
  outline: none;
  border: none;
  border: 1px solid gray;
  border-radius: 4px;
}
.loginBtn button:disabled {
  cursor: not-allowed;
  color: green;
}
.loginBtn button:hover {
  background-color: red;
  color: white;
}
.loginBtn p {
  color: red;
}
.loginPage span {
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
}
.loginFrom p {
  margin: 10px;
}
.loginFrom span:hover {
  color: red;
  text-decoration: underline;
}
@media only screen and (max-width: 778px) {
  .loginPage .wrapper {
    width: 100%;
    height: auto;
  }

  .loginFromInput input {
    width: 90%;
    padding: 4px 3px;
  }
}
