.newProduct {
  display: flex;
  height: 120vh;
}
.newProductContainer {
  flex: 5;
  margin-top: 12vh;
}
.mewproductTitle {
  font-weight: 700;
  font-size: 25px;
}

/*input */
.inputField input {
  width: 80%;
  color: gray;
  outline: none;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 5px;
  margin-top: 7px;
}
.inputField label {
  font-weight: 600;
  color: gray;
  margin-top: 20px;
}
.inputField select {
  width: 80%;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}
.inputField option {
  color: gray;
}

.createnewButton button {
  margin-top: 60px;
  padding: 3px 60px;
  outline: none;
  border: none;
  font-weight: 600;
  color: white;
  background-color: darkblue;
  border-radius: 9px;
}

.createnewButton button:hover {
  background-color: red;
  color: white;
}
.addproductForm textarea {
  width: 80%;
  border-radius: 5px;
}
