.SaminavbarContainer {
  background-color: black;
}

.samiNavbar {
  display: flex;
  list-style: none;
}

.samiNavbar .nav-Link {
  font-size: 19px;
  color: white;
}

.samiNavbar .nav-itemLi {
  margin-left: 35px;
}
.samiNavbar select{
  color: black;
  font-size: 17px;
  outline: none;
  padding: 1px 2px;
  border-radius: 2px;
}
@media only screen and (max-width: 778px) {
  .samiNavbar .nav-Link {
    font-size: 14px;
  }
  .samiNavbar select {
    font-size: 13px;
    padding: 1px 1px;
  }
}