.SaminavbarContainer {
  background-color: rgb(48, 47, 47);
  height: 6vh;
  overflow: hidden;
}
.navBarItems {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.navBarItems .nav-itemLi {
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-left: 40px;
  list-style: none;
}
.navBarItems .nav-itemLi:hover {
  color: red;
}
.navBarItems .nav-itemLi select {
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 3px 20px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 778px) {
  .SaminavbarContainer {
    height: 5vh;
  }

  .navBarItems .nav-itemLi {
    font-size: 15px;
    margin-left: 4px;
  }
}
@media only screen and (max-width: 280px) {
  .SaminavbarContainer {
    height: 5vh;
    width: 100%;
  }
  .navBarItems .nav-itemLi {
    font-size: 12px;
  }
}
