.order {
  display: flex;
}
.orderContainer {
  flex: 5;
  margin-top: 12vh;
}
.OrderContainerTable{
  margin-left: 5%;
  box-shadow: -4px 5px 17px -12px rgba(83, 83, 83, 0.66);

}
.orderTitle{
  font-size: 27px;
  font-weight: 600;
  color: gray;
}
