.topbar {
  width: 100%;
  height: 11vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: whitesmoke;
  box-shadow: 1px 7px 5px -9px #000000;
}
.topbar h3 {
  font-weight: 800;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(5, 5, 82);
}

.right {
  position: relative;
}
.right .icon {
  margin: 20px 7px 0px 7px;
  font-size: 25px;
  color: rgb(177, 160, 160);
  cursor: pointer;
  font-size: 30px;
}
.right .facebookicon {
  color: rgb(59, 59, 219);
}
.right .instagramicon {
  color: red;
}
.right .linkedinicon {
  color: rgb(59, 59, 219);
}
.right .twittericon {
  color: lightskyblue;
}
