.sliderContainer {
  width: 100%;
  height: 20vh;
  background-color: #bcd4e6;
  z-index: 9999;
}

.sliderContainer img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 912px) {
}
@media only screen and (max-width: 778px) {
}
