.productlistContainer {
  height: auto;
  width: 100%;
  padding-top: 2vh;
}

.productlistContainer h1 {
  font-weight: 700;
  color: rgb(10, 10, 99);
  margin-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftSideFilter span {
  font-size: 21px;
  font-weight: 600;
  /* margin-left: 20px; */
}
.leftSideFilter select {
  padding: 5px 20px;
  margin-left: 10px;
  outline: none;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.rightSideFilter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rightSideFilter span {
  font-size: 21px;
  font-weight: 600;
}

.rightSideFilter select {
  padding: 5px 20px;
  margin-left: 10px;
  outline: none;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
@media only screen and (max-width: 778px) {
  .leftSideFilter span {
    font-size: 16px;
  }
  .leftSideFilter select {
    padding: 4px 8px;
    margin-left: 10px;
  }
  .rightSideFilter {
    display: flex;
    justify-content: flex-start;
  }
  .rightSideFilter span {
    font-size: 16px;
  }
  .rightSideFilter select {
    padding: 4px 8px;
    margin-left: 10px;
  }
}
