.profile {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.updateProfileContainer {
  height: 45vh;
  width: 80%;
  border-radius: 4px;
  border: 1px solid red;
}

.inputBoxs label {
  margin-top: 10px;
  margin-left: 8%;
  font-weight: 600;
  font-size: 13px;
}
.inputBoxs input {
  margin-left: 8%;
  width: 80%;
  height: 33px;
  outline: none;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  border: 1px solid gray;
}
.inputBoxs button {
  margin-left: 8%;
  margin-top: 10px;
  width: 80%;
  padding: 3px 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 4px;
}
.inputBoxs button:hover {
  background-color: rgb(247, 82, 82);
}
.inputBoxs span {
  color: red;
  margin-left: 8%;
}
/* change password span */
.changePassword {
  margin-left: 7%;
  margin-top: 15px;
}
.changePassword span {
  color: red;
  font-size: 16px;
  cursor: pointer;
}
.changePassword span:hover {
  text-decoration: underline;
  color: black;
}

/* home page link */
.homepageLink {
  margin-left: 10%;
  cursor: pointer;
  margin-top: 4vh;
}
.homepageLink span {
  color: rgb(255, 0, 0);
}

.link {
  color: inherit;
}
.link:hover {
  color: inherit;
}
.profile h3 {
  font-weight: 600;
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .updateProfileContainer {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  .homepageLink {
    font-size: 12px;
  }
  .changePassword {
  margin-top: 10px;
}
}
