.viewOrder {
  display: flex;
  height: auto;
}
.viewOrderContainer {
  flex: 5;
  margin-top: 5vh;
  /* height: auto; */
  margin: 15vh 3% 0% 3%;
}

.viewOrderContainer h3 {
  color: gray;
  margin-top: 10px;
}
.wrapperOrderBox {
  display: flex;
  justify-content: space-around;
}
.OrderInfoBoxAddress {
  width: 20%;
}
.OrderInfoBoxAddress h3 {
  font-size: 23px;
  text-decoration: underline;
  margin-bottom: 3vh;
}
.OrderInfoBoxAddress p {
  font-size: 18px;
  color: gray;
  font-weight: 600;
}
.OrderInfoBoxAddress span {
  font-size: 17px;
  font-weight: 500;
}
.OrderInfoBoxProduct {
  width: 70%;
  height: 85vh;
}
.orderImg img {
  height: 15vh;
}
.TotalAmount p {
  color: lightcoral;
  text-decoration: underline;
}
