.cart {
  height: auto;
  width: 100%;
  overflow: hidden;
  padding-top: 2vh;
  background-color: rgb(231, 229, 229);
}

/* cart tobbar */

.cartTitle {
  font-size: 30px;
  font-weight: 600;
  color: rgb(6, 6, 95);
}

.cartTopbar {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.continueBtn {
  margin-left: 5%;
  outline: none;
  border: none;
  height: 45px;
  padding: 3px 8px;
  cursor: pointer;
  background-color: red;
  color: whitesmoke;
  border-radius: 4px;
}

.leftSideCart {
  height: 41vh;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 3px;
}

.cartproductInfo {
  margin-top: 30px;
}

.leftSideproductInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.leftSideCart img {
  /* width: 25%; */
  height: 30vh;
  object-fit: contain;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.leftsideproductInfodata p {
  font-weight: 600;
  font-size: 15px;
}

.leftsideproductInfodata span {
  border: 2px solid red;
  font-weight: 500;
  font-size: 17px;
  margin-left: 10px;
  padding: 3px 8px;
  border-radius: 4px;
}

/* proceed to checkbox buttom */
.leftsideproductInfodata button {
  outline: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
  background-color: black;
  color: whitesmoke;
  padding: 2px 8px;
  border-radius: 4px;
}

.leftsideproductInfodata button:hover {
  background-color: red;
}

/* price */
.totalPrice p {
  font-size: 25px;
}

.totalPrice span {
  font-weight: 600;
  font-size: 20px;
  color: red;
  text-decoration: underline;
}

/* checkBoxWithoutLogin */
.containerInfo {
  height: 20vh;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.containerInfo p {
  font-size: 22px;
}

.containerInfo span {
  font-weight: 600;
}

.containerInfo button {
  width: 100%;
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: red;
  color: white;
  font-size: 15px;
  padding: 4px 5px;
  border-radius: 5px;
}

.containerInfo button:hover {
  background-color: rgb(252, 82, 82);
}

.containerEmpty h1 {
  background-color: aqua;
  color: black;
  font-size: 100px;
  margin-top: 40vh;
}

/* when cart is empty */
.cartEmpty {
  height: 60vh;
  width: 100%;
  background-color: rgb(231, 229, 229);

}

.emptyContainer {
  background-color: whitesmoke;
  height: 60vh;
  width: 70%;

}

.emptyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyWrapper h3 {
  font-size: 32px;
  font-weight: 600;

}

.emptyWrapper img {
  object-fit: contain;
}
.titleEmpty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleEmpty .link {
  font-size: 18px;
  color: red;
}

.titleEmpty .link:hover {
  color: rgb(232, 9, 9);
}

@media only screen and (max-width: 778px) {

  .cartTitle {
    font-size: 23px;
  }

  .cartTopbarP {
    margin-top: 0px;
    letter-spacing: 0px;
  }

  .leftSideCart {
    height: auto;
  }

  .leftsideproductInfodata p {
    font-size: 11px;
    font-weight: 500;
  }

  .totalPrice p {
    font-size: 17px;
  }

  .totalPrice span {
    font-size: 16px;
  }

  .leftsideproductInfodata span {
    font-size: 14px;
    margin-left: 10px;
    padding: 3px 4px;
  }

  /* payment button */

  .containerInfo button {
    font-size: 15px;
    padding: 4px 4px;
  }

  .titleEmpty .link {
    font-size: 14px;
  }

  .emptyWrapper h3 {
    font-size: 25px;
    font-weight: 600;

  }

  /* empty */
  .emptyWrapper h3 {
    font-size: 15px;
    font-weight: 500;

  }

  .titleEmpty .link {
    font-size: 10px;
    color: red;
  }
}