.navbarContainer {
  height: 7vh;
  width: 100%;
  background-color: white;
  z-index: 9;
}

.navbar-brand {
  font-weight: 700;
  font-size: 35px;
  color: #023047;
  margin-left: 30px;
}

.navbar-brand:hover {
  color: #023047;
}

.navbarContainer input {
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  height: 35px;
  width: 70%;
  margin-top: -1px;
  background-color: whitesmoke;
  padding: 6px 10px;
}

.navbarContainer ::placeholder {
  font-size: 15px;
  margin-left: 10px;
}


.nav-item a {
  color: gray;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.nav-item a:hover {
  color: red;
}

.notification {
  color: gray;
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: -2px;
  right: 7px;
  padding: 3px 6px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 16px;
}

.nav-item span {
  color: gray;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 912px) {
  .navbarContainer {
    height: auto;
  }

  .navbar-brand {
    font-size: 18px;
    margin-left: 0px;
  }

  .navbarContainer input {
    width: 50%;
    height: 25px;
    margin-left: -30px;
    margin-right: -110px;
  }


}

.navbar-toggler {
  background-color: black;
  color: whitesmoke;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler .navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarContainer input::placeholder {
  font-size: 10px;
  letter-spacing: 0px;
}

.nav-item a {
  font-size: 17px;
}



@media only screen and (max-width: 768px) {
  .navbarContainer {
    height: auto;
  }

  .navbar-brand {
    font-size: 18px;
    margin-left: 0px;
  }

  .navbarContainer input {
    width: 50%;
    height: 25px;
    margin-left: -30px;
    margin-right: -20px;
  }

  .notification .badge {
    position: relative;
    top: -8px;
    right: 10px;
    padding: 1px 4px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 14px;
  }

  .navbar-toggler {
    background-color: black;
    color: whitesmoke;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-toggler .navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbarContainer input::placeholder {
    font-size: 8px;
    letter-spacing: 0px;
  }

  .nav-item a {
    font-size: 17px;
  }


}

@media only screen and (max-width: 361px) {
  .navbar-brand {
    font-size: 18px;
    margin-left: 0px;
  }

  .navbarContainer input {
    width: 50%;
    height: 23px;
    margin-left: -25px;
    margin-right: -20px;
  }

  .navbarContainer input::placeholder {
    font-size: 10px;
    letter-spacing: 0px;
  }


}

@media only screen and (max-width: 320px) {
  .navbar-brand {
    font-size: 17px;
    margin-left: 0px;
  }

  .navbarContainer input {
    width: 50%;
    height: 23px;
    margin-left: -15px;
    margin-right: -10px;
  }

  .navbarContainer input::placeholder {
    font-size: 10px;
    letter-spacing: 0px;
  }

}

@media only screen and (max-width: 280px) {
  .navbar-brand {
    font-size: 16px;
    margin-left: 0px;
  }

  .navbarContainer input {
    width: 40%;
    height: 23px;
    margin-left: -15px;
    margin-right: -10px;
  }

  .navbarContainer input::placeholder {
    font-size: 8px;
    letter-spacing: 0px;
  }

}