.SearchProduct {
  height: auto;
  width: 100%;
  margin-top: 6vh;
}

.singleProduct {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 3vh;
  height: 50vh;
  border-radius: 10px;
  background-color: rgb(252, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.singleProduct img {
  border-radius: 5px;
  height: 25vh;
  width: 100%;
  margin-top: 1vh;
  object-fit: contain;
}

.productInfo p {
  text-align: start;
  margin: 10px;
  font-size: 12px;
  font-weight: 600;
}

.singleproductLink {
  color: inherit;
  text-decoration: none;
}
.singleProduct:hover {
  color: red;
}

@media only screen and (max-width: 778px) {
  .singleProduct img {
    border-radius: 5px;
    height: 10vh;
    width: 100%;
  }
  .productInfo p {
    text-align: start;
    margin: 0px;
    font-size: 10px;
    font-weight: 500;
  }
  .singleProduct {
  height: auto;
}
}
