.list {
  display: flex;
  overflow: hidden;
}
.listContainer {
 flex: 5;
  margin-top: 15vh;
  box-shadow: -4px 5px 39px -12px rgba(83, 83, 83, 0.66);
  margin-left: 2%;
  margin-right: 1%;
  

}
.ProductTitle{
    font-weight: 600;
  color: gray;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 25px;

}
.button_Edit{
    border: 1px solid rgb(183, 0, 255);
    outline: none;
    color: rgb(183, 0, 255);
    border-radius: 6px;
    padding: 3px 6px;
    font-size: 15px;
}
.button_Edit:hover{
    background-color:  rgb(183, 0, 255);
    color: white;
}
.button_delete{
     border: 1px solid red;
    outline: none;
    color: red;
    border-radius: 6px;
    padding: 3px 6px;
    font-size: 15px;
    margin-left: 10px;
    font-size: 15px;
}
.button_delete:hover{
    background-color:  red;
    color: white;
}
.userImg img{
    height: 50px;
    width: 50px;
    object-fit: contain;
}
